:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --hero-bg-overlay: rgba(47, 48, 58, 0.4);
  --services__content-bg: rgba(47, 48, 58, 0.8);
  --team-bg-color: #f5f4fa;
  --modal-backdrop-bg: rgba(0, 0, 0, 0.2);
  --portfolio-overlay-bg: rgba(33, 150, 243, 0.9);
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --secondary-color: #2196f3;
  --first-logo-color: #000000;
  --btn-active-color: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --team-icon-color: #afb1b8;
  --join-icon-circle-color: rgba(255, 255, 255, 0.1);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
  --btn-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --main-btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-hover: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --modal-btn-border: 1px solid rgba(0, 0, 0, 0.1);
  --header-border: 1px solid #ececec;
  --mobile-menu-social-item-border: 1px solid rgba(33, 33, 33, 0.2);
  --primary-letter-spacing: 0.03em;
  --secondary-letter-spacing: 0.02em;
  --cards-gap: 30px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--primary-letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.visualy-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
}

.container {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cards-gap));
}

@media screen and (min-width: 768px) {
  .card-set {
    margin-left: calc(-1 * var(--cards-gap));
  }
}

.card-set__item {
  margin-top: var(--cards-gap);
}

@media screen and (min-width: 768px) {
  .card-set__item {
    margin-left: var(--cards-gap);
    display: flex;
  }
}

.title {
  text-align: center;
  color: var(--primary-title-color);
  font-size: 28px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--first-logo-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__span {
  color: var(--secondary-color);
}

.btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  background-color: var(--secondary-color);
  box-shadow: var(--main-btn-box-shadow);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: background-color var(--animation);
}

.btn:hover, .btn:focus {
  background-color: var(--btn-active-color);
}

.nav {
  display: flex;
}

.menu {
  display: none;
  align-items: center;
  margin-left: 93px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: inline-flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.menu__link {
  color: var(--primary-title-color);
  transition: color var(--animation);
}

.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: var(--secondary-color);
}

.menu__link--active {
  position: relative;
  color: var(--secondary-color);
}

.menu__link--active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--secondary-color);
  border-radius: 2px;
}

.contacts {
  display: none;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  transition: color var(--animation);
  font-size: 12px;
  line-height: 1.17;
}

.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__link-mail {
    padding-top: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__link-tel {
    padding-bottom: 21px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: var(--secondary-color);
}

.contacts__icon-mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts__icon-mail {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon-tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contacts__icon-tel {
    height: 16px;
  }
}

.social-icons {
  display: inline-flex;
}

.social-icons__link {
  fill: var(--team-icon-color);
  transition: fill var(--animation), background-color var(--animation);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--secondary-color);
  fill: var(--primary-bg-color);
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.icon-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.backdrop {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-backdrop-bg);
  transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;
}

@media screen and (min-width: 1200px) {
  .backdrop {
    position: fixed;
  }
}

.modal {
  position: relative;
  max-width: 450px;
  margin: auto;
  padding: 40px;
  background: var(--primary-bg-color);
  box-shadow: var(--modal-box-shadow);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transition: border-color var(--animation);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-form__input--compact {
  height: 40px;
  padding-left: 42px;
}

.modal-form__input--compact:-webkit-autofill, .modal-form__input--compact:-webkit-autofill:hover, .modal-form__input--compact:-webkit-autofill:focus {
  border: 1px solid var(--secondary-color);
  -webkit-text-fill-color: var(--primary-text-color);
  box-shadow: 0 0 0 30px var(--primary-bg-color) inset;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill var(--animation);
}

.modal-form__input--compact:focus + .modal-form__icon {
  fill: var(--secondary-color);
}

.modal-form__textarea {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
}

.modal-form__textarea::placeholder {
  color: var(--modal-placeholder-color);
}

.modal-form__label-check {
  margin-bottom: 30px;
}

.modal-form__check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form__check-text::before {
  content: '';
  display: inline-flex;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-title-color);
  border-radius: 3px;
}

.modal-form__checkbox:checked + .modal-form__check-text::before {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form__checkbox:focus + .modal-form__check-text::before {
  border: 2px solid var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.btn-submit {
  margin-left: auto;
  margin-right: auto;
}

.modal-form__check-link {
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .modal-form__check-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-bg-color);
  border: var(--modal-btn-border);
  cursor: pointer;
  transition: fill var(--animation);
}

.btn-close:hover, .btn-close:focus {
  fill: var(--secondary-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border: var(--header-border);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--secondary-letter-spacing);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.menu-btn {
  padding: 0;
  cursor: pointer;
  border: 0;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__icon {
  vertical-align: middle;
}

.menu-btn:hover .menu-btn__icon {
  fill: var(--secondary-color);
}

.menu-mobile {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  width: 100vw;
  max-width: 767px;
  height: 100vh;
  z-index: 100;
  letter-spacing: 0.02em;
  background-color: var(--primary-bg-color);
  transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;
}

.btn-close__menu-mobile {
  border: none;
}

.menu-mobile__nav-item {
  font-size: 40px;
  line-height: 1.18;
  color: var(--primary-title-color);
}

.menu-mobile__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mobile__nav-link:hover,
.menu-mobile__nav-link:focus {
  color: var(--secondary-color);
}

.menu-mobile__nav-link--active {
  color: var(--secondary-color);
}

.menu-mobile__tel {
  margin-bottom: 32px;
  font-size: 27px;
  line-height: 1.18;
  color: var(--secondary-color);
}

@media screen and (min-width: 380px) {
  .menu-mobile__tel {
    font-size: 34px;
  }
}

.menu-mobile__mail {
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.menu-mobile__social-links {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: -10px;
}

.menu-mobile__social-item {
  font-size: 18px;
  line-height: 1.22;
  color: var(--secondary-color);
  margin-right: 10px;
  margin-bottom: 10px;
}

.menu-mobile__social-item:not(:last-child) {
  padding-right: 10px;
  border-right: var(--mobile-menu-social-item-border);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url("../images/studio/hero/mobile/img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url("../images/studio/hero/mobile/img@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url("../images/studio/hero/tablet/img.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url("../images/studio/hero/tablet/img@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url("../images/studio/hero/desktop/img.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url("../images/studio/hero/desktop/img@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--primary-bg-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features__item {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.features__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--team-bg-color);
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-title-color);
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.services {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .services {
    display: block;
  }
}

.services__title {
  margin-bottom: 50px;
}

.services__list {
  display: flex;
}

.services__item {
  position: relative;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__content {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  background-color: var(--services__content-bg);
}

.team {
  background-color: var(--team-bg-color);
}

.team__title {
  margin-bottom: 50px;
}

.team__card {
  flex-basis: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__card {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.team__content {
  padding: 30px;
  text-align: center;
  background-color: var(--primary-bg-color);
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__post {
  margin-bottom: 16px;
}

.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__cards {
  margin-left: -30px;
  margin-top: -30px;
}

.clients__card {
  flex-basis: calc((100% - 30px * 2) / 2);
  margin-left: 30px;
  margin-top: 30px;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .clients__card {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__card {
    flex-basis: calc((100% - 30px * 6) / 6);
  }
}

.clients__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--team-icon-color);
  border-radius: 4px;
  fill: var(--team-icon-color);
  transition: border var(--animation), fill var(--animation);
}

.clients__logo:hover, .clients__logo:focus {
  border: 1px solid var(--secondary-color);
  fill: var(--secondary-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--primary-bg-color);
}

.footer-contacts {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 60px;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    align-items: start;
    margin-bottom: 0;
  }
}

.footer-contacts__adress {
  margin-bottom: 9px;
  color: var(--primary-bg-color);
}

.footer-contacts__list {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-contacts__list {
    text-align: left;
  }
}

.footer-contacts__mail {
  margin-bottom: 9px;
}

.footer-contacts__tel,
.footer-contacts__mail {
  color: var(--footer-contacts-color);
  transition: color var(--animation);
}

.footer-contacts__tel:hover, .footer-contacts__tel:focus,
.footer-contacts__mail:hover,
.footer-contacts__mail:focus {
  color: var(--secondary-color);
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.join {
  display: inline-flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    align-items: start;
    margin-left: 70px;
  }
}

.join__appeal {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.join__icon {
  background-color: var(--join-icon-circle-color);
  fill: var(--primary-bg-color);
}

.footer-form {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    width: auto;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
  }
}

.footer-form__label {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-form__label {
    width: 358px;
  }
}

.footer-form__text {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer-form__text {
    text-align: left;
  }
}

.footer-form__email {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--primary-bg-color);
  transition: border-color var(--animation);
}

.footer-form__email::placeholder {
  color: var(--footer-contacts-color);
}

.footer-form__email:-webkit-autofill, .footer-form__email:-webkit-autofill:hover, .footer-form__email:-webkit-autofill:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-text-fill-color: var(--primary-bg-color);
  box-shadow: 0 0 0 30px var(--secondary-bg-color) inset;
}

@media screen and (min-width: 1200px) {
  .footer-form__email {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .email-btn {
    margin-left: 12px;
  }
}

.email-btn__icon {
  fill: var(--primary-bg-color);
  margin-left: 10px;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 50px;
  margin-right: -8px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 35px;
  }
}

.btn-list__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.btn-list__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--team-bg-color);
  border-radius: 4px;
  border: 0;
  color: var(--primary-title-color);
  cursor: pointer;
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--primary-bg-color);
  background: var(--secondary-color);
  box-shadow: var(--btn-box-shadow);
}

.btn-active {
  color: var(--primary-bg-color);
  background-color: var(--secondary-color);
  box-shadow: var(--btn-box-shadow);
}

.card {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .card {
    flex-basis: calc((100% - var(--cards-gap) * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    flex-basis: calc((100% - var(--cards-gap) * 3) / 3);
  }
}

.card__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--animation);
}

.card__link:hover, .card__link:focus {
  box-shadow: var(--card-hover);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 24px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  background-color: var(--portfolio-overlay-bg);
  opacity: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--animation), opacity var(--animation);
}

.card__link:hover .overlay__content,
.card__link:focus .overlay__content {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 380px) {
  .overlay__content {
    display: flex;
    align-items: center;
  }
}

.card__content {
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  background-color: var(--primary-bg-color);
}

.card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.card__text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
/*# sourceMappingURL=main.css.map */