.footer-form {
  display: inline-flex;
  align-items: flex-end;
  margin-left: auto;
}
.footer-form__label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-bg-color);
}
.footer-form__email {
  display: flex;
  align-items: center;

  width: 358px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background: transparent;
  color: var(--primary-bg-color);

  transition: border-color var(--animation);

  &::placeholder {
    padding-left: 16px;

    color: var(--footer-contacts-color);
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-text-fill-color: var(--primary-bg-color);
    box-shadow: 0 0 0 30px var(--secondary-bg-color) inset;
  }
}
.email-btn {
  margin-left: 12px;
}
.email-btn__icon {
  fill: var(--primary-bg-color);
  margin-left: 10px;
}
