.header {
  border: var(--header-border);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--secondary-letter-spacing);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.menu-btn {
  padding: 0;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-btn__icon {
  vertical-align: middle;

  .menu-btn:hover & {
    fill: var(--secondary-color);
  }
}
