.backdrop {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--modal-backdrop-bg);

  transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;

  @media screen and (min-width: 1200px) {
    position: fixed;
  }
}
.modal {
  position: relative;

  max-width: 450px;

  @media screen and (min-width: 1200px) {
    width: 528px;
  }

  margin: auto;
  padding: 40px;

  background: var(--primary-bg-color);
  box-shadow: var(--modal-box-shadow);
  border-radius: 4px;
}
.modal__title {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
