.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--cards-gap));

  @media screen and (min-width: 768px) {
    margin-left: calc(-1 * var(--cards-gap));
  }
}

.card-set__item {
  margin-top: var(--cards-gap);

  @media screen and (min-width: 768px) {
    margin-left: var(--cards-gap);
    display: flex;
  }
}
