.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/mobile/img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/mobile/img@2x.jpg');
  }

  // @media screen and (min-width: 480.2px) {
  //   background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/tablet/img.jpg');
  //   @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //     background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/tablet/img@2x.jpg');
  //   }
  // }

  // @media screen and (min-width: 768.2px) {
  //   min-height: 600px;
  //   background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/desktop/img.jpg');
  //   @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  //     background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/desktop/img@2x.jpg');
  //   }
  // }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/tablet/img.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/tablet/img@2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    min-height: 600px;
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/desktop/img.jpg');
    @media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url('../images/studio/hero/desktop/img@2x.jpg');
    }
  }
}
.hero__title {
  margin-bottom: 30px;

  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  color: var(--primary-bg-color);

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
